<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{{baseURL}}resources/images/logo.png"
      type="image/x-icon"
    />
    <title>Privacy Policy | Labour Connect Hub</title>
    <style>
      body {
        font-size: 14px;
      }
      h4 {
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <main>
      <header style="padding: 20px 0">
        <div class="container">
          <img
            src="{{baseURL}}resources/images/logo.png"
            alt="logo"
            width="70"
          />
        </div>
      </header>
      <div class="container">
        <h3 class="py-3">PRIVACY POLICY</h3>
        <div class="row">
          <div class="col-12">
            <p>
              This Privacy Policy explains what personal data is collected when
              you use Labour Connect Hub mobile application, how such personal
              data will be used and shared.
            </p>
            <p>
              BY USING THE SERVICE, YOU PROMISE US THAT (I) YOU HAVE READ,
              UNDERSTAND AND AGREE TO THIS PRIVACY POLICY, AND (II) YOU ARE OVER
              18 YEARS OF AGE. If you do not agree, or are unable to make this
              promise, you must not use the Service. In such case, you must
              contact the support team via email to request deletion of your
              account and data or delete the account from the app.
            </p>
            <p>
              “Process”, in respect of personal data, includes to collect,
              store, and disclose to others.
            </p>

            <h4>PERSONAL DATA CONTROLLER</h4>
            <p>
              Labour Connect Hub, a company registered in the Federal Republic
              of Nigeria will be the controller of your personal data. <br />
              In relation to certain categories of personal data expressly
              specified below 2.3.5
            </p>

            <h4>CATEGORIES OF PERSONAL DATA WE COLLECT</h4>
            <p>
              We collect data you give us voluntarily (for example, an email
              address). We also collect data automatically (for example, your IP
              address).
            </p>
            <li>Data you give us.</li>
            <p>
              You may be asked to provide us information about yourself when you
              register for and/or use the Service. This information includes:
              first name, last name, phone number, email, gender, date of birth
              (together “Required Information”), address details, working hours
              etc., as well as access to your photos, albums and their metadata.
              You will need to provide us with your ID or similar identification
              document if you want to post advertisement in Mobile Phones
              category, unblock your account or make duplicate account primary.
              You will need to provide us with your Bank ID and САС (certificate
              of incorporation of legal entity) if you want to participate in
              car auction as a dealer. <br /><br />

              To use our Service and register an account, you will need to
              provide Required Information. You will be able to use the Service
              even if you do not give this data to us, but some Service’s
              functionality may be limited to you (for example, if you do not
              register an account, you will not be able to chat with other
              users, post ads, see contact details of other users). <br /><br />

              Sometimes you may also need to provide us additional information
              in the communication with our Support Team in order to fulfill
              your request (for example, if your account was previously blocked,
              we may ask you to confirm your identity by providing an ID
              document). <br /><br />

              While posting an announcement on the Service, you can decide to
              provide additional personal information on yourself. For example,
              you can decide to make available your CV or any photos of you or
              bearing your personal information. You acknowledge that by
              providing your personal data in the announcement you are making
              such data publicly available. In addition, you acknowledge and
              agree that we will make public some personal data from your
              profile to provide the Service, - it will enable us to facilitate
              communication and transactions between the users. In particular,
              you acknowledge and agree that your email will be shown as a part
              of your advertisement in the Seeking Work CVs section to some
              users with the posted advertisement in the Jobs section.
              <br /><br />

              You should carefully consider risks associated with the fact that
              you make certain information – in particular, you phone number,
              address, photos, passport and financial details or exact location
              – publicly available. <br /><br />

              If you want to apply for a car loan, we shall provide us with your
              employment Type (Salary Earner or Business Owner), Monthly
              Income/Salary and Bank Verification Number(BVN). We will use this
              information for the calculation of amounts for the first and
              subsequent monthly installments.
            </p>

            <li>Data provided to us by third parties</li>
            <p>
              When you decide to log in using Meta, we get personal data from
              your Meta account. This includes your profile name, and Meta ID.
              Unless you opt-out on the Meta Login screen, we will also collect
              other data, such as email address, gender, date of birth, friends
              list, and location as listed in your Meta profile. <br /><br />

              When you log in with Google, we get your name, email address,
              profile picture and Google ID. We use your personal data from
              Google in accordance with this Privacy Policy. To know more about
              how Google processes your data, visit its Privacy Policy. To
              remove access granted to us, visit Google Permissions.
              <br /><br />

              We may collect your name, official government ID number and photo
              image to confirm your identity. For this we will share this
              information with a 3rd party service provider, Smile Identity
              Inc., in order to validate it with the governmental sources. Smile
              Identity Inc. may use your ID number to collect the following
              additional data on you from the governmental sources: full name,
              date of birth, image, address, phone number, gender, government ID
              expiry date or other additional information associated with your
              ID number that the issuing authority may provide. Smile ID may
              process or store your data outside of the borders of your country.
              <br /><br />
            </p>

            <li>Data we collect automatically:</li>
            <p class="px-4 py-2">
              &#10003; Device and Location data. <br />
              We collect data from your device. Examples of such data include:
              language settings, IP address, time zone, type and model of a
              device, device settings, operating system, Internet service
              provider, mobile carrier, hardware ID, and Meta ID.
            </p>
            <p class="px-4 py-2">
              Usage data <br />
              We record how you interact with our Service. For example, we log
              the features, and content you interact with, how often you use the
              Service, how long you are on the Service, what sections you use,
              how many ads you watch.
            </p>
            <p class="px-4 py-2">
              Transaction data <br />

              When you make payments through the Service, you need to provide
              financial account data, such as your credit card number, to our
              third-party service providers. We do not collect or store full
              credit card number data, though we may receive credit card-related
              data, data about the transaction, including: date, time and amount
              of the transaction, the type of payment method used.
            </p>

            <h4>DATA PROTECTION PRINCIPLES</h4>
            <p>
              In our data protection practices we strive, in particular, to
              provide that personal data is: &#10003; processed in accordance
              with specific, legitimate and lawful purpose consented to by you;
              <br />
              &#10003; is adequate, accurate and without prejudice to the
              dignity of human person; <br />
              &#10003; stored only for the period within which it is reasonably
              needed; and <br />
              &#10003; secured against reasonably foreseeable hazards and
              breaches such as theft, cyberattack, viral attack, dissemination,
              manipulations of any kind, damage by rain, fire or exposure to
              other natural elements.
            </p>

            <h4>FOR WHAT PURPOSES WE PROCESS YOUR PERSONAL DATA</h4>
            <p>We process your personal data:</p>
            <p class="py-1 px-2">
              To provide our Service <br />
              This includes enabling you to use the Service in a seamless manner
              and preventing or addressing Service errors or technical issues.
            </p>
            <p class="py-1 px-2">
              To customize your experience <br />

              We process your personal data to adjust the content of the Service
              and make offers tailored to your personal preferences and
              interests.
            </p>
            <p class="py-1 px-2">
              To manage your account and provide you with customer support
              <br />

              We process your personal data to respond to your requests for
              technical support, Service information or to any other
              communication you initiate. This includes accessing your account
              to address technical support requests. For this purpose, we may
              send you, for example, notifications or emails about the
              performance of our Service, security, payment transactions,
              notices regarding our Terms of Use or this Privacy Policy.
            </p>
            <p class="py-1 px-2">
              To communicate with you regarding your use of our Service <br />

              We communicate with you, for example, by push notifications or in
              the chat. As a result, you may, for example, receive a
              notification whether on the app or via email that you received a
              new message on. To opt out of receiving push notifications, you
              need to change the settings on your browser or mobile device. To
              opt out of certain type of emails, you need to follow unsubscribe
              link located in the footer of the email, by contacting our support
              team at support@labourch.com. <br /><br />
              The services that we use for these purposes may collect data
              concerning the date and time when the message was viewed by our
              users, as well as when they interacted with it, such as by
              clicking on links included in the message.
            </p>
            <p class="py-1 px-2">
              To research and analyze your use of the Service <br />

              This helps us to better understand our business, analyze our
              operations, maintain, improve, innovate, plan, design, and develop
              Labour Connect Hub and our new products. We also use such data for
              statistical analysis purposes, to test and improve our offers.
              This enables us to better understand what features and sections of
              Labour Connect Hub our users like more, what categories of users
              use our Service. As a consequence, we often decide how to improve
              Labour Connect Hub based on the results obtained from this
              processing. For example, if we discover that Jobs section is not
              as popular as others, we may focus on improving it.
            </p>
            <p class="py-1 px-2">
              To send you marketing communications <br />
              We process your personal data for our marketing campaigns. We may
              add your email address to our marketing list. As a result, you
              will receive information about our products, such as for example,
              special offers, and products of our partners. If you do not want
              to receive marketing emails from us, you can unsubscribe following
              instructions in the footer of the marketing emails, by contacting
              our support team at support@labourch. <br /><br />
              We may also show you advertisements on the Website, and send you
              push notifications for marketing purposes. To opt out of receiving
              push notifications, you need to change the settings on your device
              or/and browser.
            </p>
            <p class="py-1 px-2">
              To comply with legal obligations <br />

              We may process, use, or share your data when the law requires it,
              in particular, if a law enforcement agency requests your data by
              available legal means.
            </p>
            <p class="py-1 px-2">
              To process your payments <br />

              We provide paid products and/or services within the Service. For
              this purpose, we use third-party services for payment processing
              (for example, payment processors). As a result of this processing,
              you will be able to make a payment and use the paid features of
              the Service.
            </p>

            <h4>UNDER WHAT LEGAL BASES WE PROCESS YOUR PERSONAL DATA</h4>
            <p>
              We process your personal data, in particular, under the following
              legal bases:
            </p>
            <li>your consent;</li>
            <li>to perform our contract with you;</li>
            <li>
              for our (or others') legitimate interests; Under this legal basis
              we, in particular:
            </li>
            <p class="py-1 px-2">
              &#10003; communicate with you regarding your use of our Service
              <br />
              This includes, for example, sending you push notifications
              reminding you that you have unread messages. The legitimate
              interest we rely on for this purpose is our interest to encourage
              you to use our Service more often. We also take into account the
              potential benefits to you.
            </p>
            <p class="py-1 px-2">
              &#10003; research and analyze your use of the Service <br />
              Our legitimate interest for this purpose is our interest in
              improving our Service so that we understand users’ preferences and
              are able to provide you with a better experience (for example, to
              make the use of our mobile application easier and more enjoyable,
              or to introduce and test new features).
            </p>
            <p class="py-1 px-2">
              &#10003; send you marketing communications <br />
              The legitimate interest we rely on for this processing is our
              interest to promote our Service in a measured and appropriate way.
            </p>
            <p class="py-1 px-2">
              &#10003; enforce our Terms of Use and to prevent and combat fraud
              <br />
              Our legitimate interests for this purpose are enforcing our legal
              rights, preventing and addressing fraud and unauthorised use of
              the Service, non-compliance with our Terms of Use.
            </p>
            <li>to comply with legal obligations.</li>

            <h4>WITH WHOM WE SHARE YOUR PERSONAL DATA</h4>
            <p>
              We share information with third parties that help us operate,
              provide, improve, integrate, customize, support, and market our
              Service. We may share some sets of personal data, in particular,
              for purposes and with parties indicated in Section 2 of this
              Privacy Policy. The types of third parties we share information
              with include, in particular:
            </p>
            <p class="py-4 px-2">
              &#10003; Law enforcement agencies and other public authorities
              <br />

              We may use and disclose personal data to enforce our Terms of Use,
              to protect our rights, privacy, safety, or property, and/or that
              of our affiliates, you or others, and to respond to requests from
              courts, law enforcement agencies, regulatory agencies, and other
              public and government authorities, or in other cases provided for
              by law.
            </p>
            <p class="py-4 px-2">
              &#10003; Third parties as part of a merger or acquisition <br />

              As we develop our business, we may buy or sell assets or business
              offerings. Customers’ information is generally one of the
              transferred business assets in these types of transactions. We may
              also share such information with any affiliated entity (e.g.
              parent company or subsidiary) and may transfer such information in
              the course of a corporate transaction, such as the sale of our
              business, a divestiture, merger, consolidation, or asset sale, or
              in the unlikely event of bankruptcy.
            </p>

            <h4>AVAILABLE REMEDIES</h4>
            <p>
              If there is a data breach that may cause a risk for the rights and
              freedoms of individuals, we will notify competent supervisory
              authority, when such notification is mandatory. If the risk is
              assessed by us as “high”, we will also notify the affected data
              subjects without undue delay. The time frame for such notification
              will be developed by us on the basis of number of affected data
              subjects and time needed to collect contact information for
              notifications. <br /><br />
              If the measures taken or proposed to be taken in response to the
              breach did not address your concerns, you have the right to lodge
              a complaint with a competent supervisory authority, or to seek
              redress in a court of competent jurisdiction.
            </p>

            <h4>NO LIMITATION CLAUSE</h4>
            <p>
              No limitation of liability shall avail us in case we act in breach
              of the principles set out in Section 3.
            </p>

            <h4>HOW YOU CAN EXERCISE YOUR RIGHTS</h4>
            <p>
              To be in control of your personal data, you have the following
              rights: <br /><br />

              Accessing / reviewing / updating / correcting your personal data.
              You may review, edit, or change the personal data that you had
              previously provided to Jiji in the settings section on the
              Website. <br /><br />

              You may also request a copy of your personal data collected during
              your use of the Service. <br /><br />

              Deleting your personal data. You can request erasure of your
              personal data by sending us an email at support@jiji.ng or you can
              delete your account via the link. <br /><br />

              When you request deletion of your personal data, we will use
              reasonable efforts to honor your request. In some cases, we may be
              legally required to keep some of the data for a certain time; in
              such event, we will fulfill your request after we have complied
              with our obligations. <br /><br />

              Objecting to or restricting the use of your personal data
              (including for direct marketing purposes). You can ask us to stop
              using all or some of your personal data or limit our use thereof.
              <br /><br />

              The right to lodge a complaint with supervisory authority. We
              would love you to contact us directly, so we could address your
              concerns. Nevertheless, you have the right to lodge a complaint
              with a competent data protection supervisory authority.
              <br /><br />

              To exercise any of your privacy rights, please send a request to
              support@labourch.
            </p>

            <h4>AGE LIMITATION</h4>
            <p>
              We do not knowingly process personal data from persons under 18
              years of age. If you learn that anyone younger than 16 has
              provided us with personal data, please contact us at
              support@labourch.
            </p>

            <h4>INTERNATIONAL DATA TRANSFERS</h4>
            <p>
              We may transfer personal data to countries other than the country
              in which the data was originally collected in order to provide the
              Service set forth in the Terms of Use and for purposes indicated
              in this Privacy Policy. If these countries do not have the same
              data protection laws as the country in which you initially
              provided the information, we deploy special safeguards. In
              particular, if we transfer personal data originating from the EEA
              to countries with not adequate level of data protection, we use
              one of the following legal bases: (i) Standard Contractual Clauses
              approved by the European Commission , or (ii) the European
              Commission adequacy decisions about certain countries .
            </p>

            <h4>CHANGES TO THIS PRIVACY POLICY</h4>
            <p>
              We may modify this Privacy Policy from time to time. If we decide
              to make material changes to this Privacy Policy, you will be
              notified through our Service or by other available means and will
              have an opportunity to review the revised Privacy Policy. By
              continuing to access or use the Service after those changes become
              effective, you agree to be bound by the revised Privacy Policy.
            </p>

            <h4>DATA RETENTION</h4>
            We will store your personal data for as long as it is reasonably
            necessary for achieving the purposes set forth in this Privacy
            Policy (including providing the Service to you), which includes (but
            is not limited to) the period during which you have a Labour Connect
            Hub account. We will also retain and use your personal data as
            necessary to comply with our legal obligations, resolve disputes,
            and enforce our agreements. We will store your hashed email address,
            phone number, identification documents and information on the fact
            your account has been blocked after fulfilling your request on
            deleting your personal data. <br /><br />

            We will also retain and use your personal data as necessary to
            comply with our legal obligations, resolve disputes, and enforce our
            agreements.

            <h4>CONTACT US</h4>
            <p>
              You may contact us at any time for details regarding this Privacy
              Policy and its previous versions. For any questions concerning
              your account or your personal data please contact us at
              support@labourch.
            </p>
          </div>
        </div>
        <div class="py-5">
          <strong>Effective as of: May 12, 2024</strong>
        </div>
      </div>
    </main>
  </body>
</html>
