<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title>Labour Connect Hub</title>
</head>
<body style='background-color: #f5f5f5; width: 100%;font-family: Roboto, sans-serif; font-size: 14px;color: #525252; letter-spacing: 0.5px;'>
    <div style='max-width: 600px; padding: 30px; margin: auto;'>
        <div style='background-color: #fff; padding: 30px;'>
            <img src='{{baseURL}}resources/images/logo.png' alt='logo' style='width:  100px;' />
        </div>
        <div style='padding-top: 20px; display: flex; flex-direction: column; align-items: center; text-align: center;'>

          <div class="alert-img">
            <img src='{{baseURL}}resources/images/verified.png' alt='logo' style='width:  50px;' />
          </div>
          <div>
            <p>
              <h3 style="padding: 0; margin: 0;">Verification successful!</h3> <br> You have successfully verified your email.
            </p>
            <p style="margin-top: 50px; padding: 10px 0; border-top: 1px #525252 solid;">
                if you have any questions, please email us at support@labourch.com, we can answer questions about your account.
            </p>
          </div>
        </div>
    </div>
</body>
</html>